Source: keyholder
Maintainer: Wikimedia Foundation Release Engineering <releng@wikimedia.org>
Uploaders: Tyler Cipriani <tcipriani@wikimedia.org>,
           Dan Duvall <dduvall@wikimedia.org>,
           Bryan Davis <bd808@wikimedia.org>,
           Chad Horohoe <chadh@wikimedia.org>,
           Mukunda Modell <mmodell@wikimedia.org>,
           Antoine Musso <hashar@free.fr>,
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), python3-all,
               lsb-release,
               dh-systemd,

Package: keyholder
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ${misc:Depends}, openssh-client, adduser, python3-yaml
Description: ssh agent proxy to securely share one ssh agent and keys.
 keyholder provides a means of allowing a group of trusted
 users to use a shared SSH identity without exposing the identity's
 private key.
