#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION = 1.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@ --with systemd

#override_dh_gencontrol:
#	dh_gencontrol -- -v$(PACKAGEVERSION)

override_dh_installinit:
	dh_installinit --name=keyholder-agent
	dh_installinit --name=keyholder-proxy